{% extends "uploads/base.html" %}
{% load static %}
{% block style_base %}
<link rel="stylesheet" type="text/css" href="{% static 'uploads/css/style.css' %}">
{% endblock %}


{% block content %}


<body>
	<div class="main-bg">
		<div class="sub-main-w3">
			<div class="image-style">
			</div>
			<div class="vertical-tab">
				<div id="section1" class="section-w3ls">
					<input type="radio" name="sections" id="option1" checked>
					<label for="option1" class="icon-left-w3pvt"><span class="fas fa-prescription"
							aria-hidden="true"></span>Prescription</label>
					<article>
						<form action="/editprescription/{{post.id}}/" method="POST" enctype="multipart/form-data">
							{% csrf_token %}

							<h3 class="legend">Edit Your Prescriptions</h3>
							<p>Hospital Name</p>
							<div class="input">
								<input name="hospital_name" type="text" class="form-control" id="hospital_name"
									value="{{post.hospital_name}}" required>
							</div>
							<p>Disease</p>
							<div class="input">
								<input name="disease_name" type="text" class="form-control" id="disease_name"
									value="{{post.disease_name}}" required>
							</div>
							<p>Date</p>
							<div class="input">
								<input name="date" type="date" class="form-control" id="date" value="{{date}}" required>
							</div>
							<p>Choose Your Prescription : 
							<a href="{{post.prescription_file.url}}" target="_blank">Present File</a></p>

							<div class="input">
								<input name="prescription_file" type="file" class="form-control-file"
									id="FormControlFile1">
							</div>
							<button type="submit" class="btn submit">Save</button>
						</form>
					</article>
				</div>
				<!-- <div id="section2" class="section-w3ls">
					<input type="radio" name="sections" id="option2">
					<label for="option2" class="icon-left-w3pvt"><span class="fas fa-file-medical" aria-hidden="true"></span>Reports</label>
					<article>
						<form action="#" method="post">
							<h3 class="legend">Upload Reports Here</h3>
							<p>Diagnostic Centre</p>
							<div class="input">
								<input name="diagnostics_name" type="text" class="form-control" id="diagnostics_name" placeholder="Diagnostic Centre You Visited" required>
							</div>
							<p>Disease</p>
							<div class="input">
								<input name="report_type" type="text" class="form-control" id="report_type" placeholder="Is It Blood/Sugar/Other Reports?" required>
							</div>
							<p>Date</p>
							<div class="input">
								<input name="date" type="date" class="form-control" id="date" placeholder="Enter date" required>
							</div>
							<p>Choose Your Report</p>
							<div class="input">
								<input name="report_file" type="file" class="form-control-file" id="FormControlFile1">
							</div>
							<button type="submit" class="btn submit">Submit</button>
						</form>
					</article>
				</div> -->
			</div>
			<div class="clear"></div>
		</div>
	</div>
</body>

{% endblock %}