{% extends "userinfo/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" action=''>
            {% csrf_token %}
            <fieldset class="form-group">
				<legend class="border-bottom mb-4">Reset Password</legend>
				<label for="email">Enter Your Email : </label>
				<input name = "email" type="Email" placeholder="Enter Your Email">
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}